*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(239,239,239);
}
@font-face{
  font-family: 'Fredoka One';
  src:url('./fonts/FredokaOne-Regular.ttf');
}
@font-face{
  font-family: 'Open Sans';
  src:url('./fonts/Open Sans Bold.ttf');
}
@font-face{
  font-family: 'OpenSans Light';
  src: url('./fonts/OpenSans-Light.ttf');
}
.clearfix::after{
  content:"";
  display:block;
  clear:both;
}
a{
text-decoration: none;
}
.top{
  padding-left: 6.4rem;
  padding-right: 6.575rem;
  padding-top: 1.275rem;
  position: fixed;
  width:100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  transition: all 0.8s;
}
.top-active{
  background-color:white;
  padding-top: 0.675rem;
  padding-bottom: 0.725rem;
  box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.75);
}
.RS{
  color: rgb(232,103,107 );
  padding-right: 2px;

}
.card{
  color: rgb(154,157,162);
}
.title-logo{
  font-family: 'Fredoka One';
  font-size: 1.875rem;
}
.navigation{
  padding-right: 20px;
  font-size: .8125rem;
  padding-top: .625rem;
}
.list > li{
  list-style: none;
  display: inline;
  margin-left: 1.0625rem;
  margin-right: 1.0625rem;
  position: relative;
}
.list > li > a{
  font-family: 'Open Sans';
  color: rgb(204, 202, 203);
}
.list > li > a:hover::after{
  content: '';
  display: block;
  position: absolute;
  top:100%;
  left: 0;
  width: 100%;
  background-color: rgb(232,103,107 );
  height: 3px;
  border-radius: 3px;
  animation: nav-slide .3s;
}
@keyframes nav-slide{
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
.background-image{
  z-index: -1;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('./imgs/background.jpg');
  background-size: 100%;
  height: 32.25rem;
  filter:brightness(33%);
}
.main{
  padding-top: 10.625rem;
  width: 930px;
  height: 438px;
  margin: 0 auto;
  transition: all 1s;
}
.usercard{
  margin:0 auto; 
  background-color: white;
  padding-top: 3.5rem;
  padding-left: 3.125rem;
  padding-bottom: 4rem;
  padding-top: 3.5rem;

}
.photo{
  float: left;
}
.profile-photo{
  width: 18.4375rem;
  height: 19.875rem;
  padding-right: 64px;
}
.HELLO{
  position: relative;
  color: white;
  background-color:  rgb(232,103,107 );
  width: 68.51px;
  height: 25.2px;
  float: left;
  text-align: center;
  font-family: 'Open Sans';
  font-size: .875rem;
  font-weight: bolder;
  padding-top: 7px;
}
.triangle{
  position: absolute;
  border:.5rem solid transparent;
  border-left-color:  rgb(232,103,107 );
  top: 75%;
  left:10%;
}
.introduction{
  color: rgb(61, 68, 81);
  display: block;
  float: left;
}
.I-am{
  font-family: 'OpenSans Light';
  padding-right: 1rem;
  font-weight: 100;
  font-size: 2.25rem;
  padding-right: 0px;
}
.name{
  font-family: 'Open Sans';
  font-size: 2.25rem;
}
.job{
  font-size:1.125rem;
}
.divider{
  width: 29.375rem;
  height: 0;
  border-top: 1px solid rgb(222, 222, 222);
  margin-top: 25px;
  margin-bottom: 25px;
}
.message dt{
  float: left;
  width: 16%;
  font-weight: bold; 
  padding-bottom: 10px; 
  color: rgb(61, 68, 81);
}
.message dd{
  float: left;
  margin: 0;
  width: 30%;
  color: #9da0a7;
  padding-bottom: 12px;
}
.long-nav{
  background-color: rgb(232,103,107);
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}
.logo-warpper{
  margin-left: 65px;
  margin-right: 65px;
}
.social-logo{
  width:30px;
  height: 30px;
}
.Download{
  margin-top: 75px;
  text-align: center;
}
.DR{
  border:1px solid rgb(203,205,207);
  text-align: center;
  font-size: 1rem;
  color: rgb(61, 68, 81);
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 1.3125rem 3.4375rem;
  transition:all 0.3s;
}
.Download a:hover{
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.36);
}
.sentence{
  font-family:'OpenSans Light';
  text-align: center;
  font-size: 1.25rem;
  line-height: 2.25rem;
  padding-top: 50px;
}
.title{
  text-align: center;
  font-size: 2.125rem;
  color: rgb(61, 68, 81);
  font-family: 'Open Sans';
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem;
  font-weight: bold;
}
.ability{
  border:1px solid rgb(203,205,207);
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.52);
  padding-top:1.4375rem;
  padding-left: 1.875rem;
  padding-bottom: 1.4375rem;
  margin-bottom: 1.4375rem;
}
.skill{
  float: left;
  width: 40%;
  list-style: none;
  padding-bottom: 1.4375rem;
  padding-left: 1.875rem;
  padding-right:3.125rem;
}
p{
  font-size: .875rem;
  font-family: 'OpenSans Light';
  margin-bottom: 1rem;
}
.LevelBar{
  height: 5px;
  background-color: rgb(250, 225, 225);
  border-radius: 2px;
}
.Level{
  height: 5px;
  background-color: rgb(232,103,107);
  border-radius: 2px;
}
.HCLevel{
  width: 67%;
}
.JSLevel{
  width: 57%;
}
.jqLevel{
  width: 27%;
}
.RLevel{
  width: 17%;
}
.VueLevel{
  width: 37%;
}
.nodeLevel{
  width: 31%;
}

.Portfolio{
  padding-top:80px;
}
.Portfolio-top{
  font-size: 34px;
  color: rgb(61, 68, 81);
  font-family: 'Open Sans';
  font-weight: bold;
  text-align:center;
}
.Portfolio-options{
  text-align: center;
}
.Origin{
  margin: 0 50px;
}
.Portfolio-Bar{
  height: 5px;
  background-color: white;
  border-radius: 2px;
  width: 30%;
  margin: 20px auto;
}
.PB{
  height: 5px;
  background-color: rgb(232,103,107);
  border-radius: 3px;
  width: 27%;
  text-align: center;
}
.P-photo1{
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 25px;
}
.chair{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.52);
}
.P-photo2{
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;

}
.watch{
  margin-bottom: 15px;  
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.52);
}
.keyboard{
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.52);
}